In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [7]:
# Set the directory where your CSV files are located
directory = "./Resources"

# List of CSV files in the directory
csv_files = [file for file in os.listdir(directory) if file.endswith('.csv')]

# Iterate over each CSV file
for file in csv_files:
    # Read the CSV file into a DataFrame
    df = pd.read_csv(f'./Resources/{file}')
    
    # Extract the name of the file without the extension
    file_name = os.path.splitext(file)[0]
    
    # Create a new column with the name of the file
    df['File Name'] = file_name
    
    # Write the DataFrame back to a new CSV file with the updated column
    df.to_csv(f'./Updated_Resources/{file_name}_with_name_column.csv', index=False)

In [8]:
# Set the directory where your CSV files are located
directory = "./Updated_Resources"

# Get a list of all CSV files in the directory
files = [file for file in os.listdir(directory) if file.endswith('.csv')]

# Read each CSV file into a DataFrame and concatenate them into one DataFrame
dfs = [pd.read_csv(os.path.join(directory, file)) for file in files]
combined_df = pd.concat(dfs)

# Write the combined DataFrame to a new CSV file
combined_df.to_csv('./Updated_Resources/combined.csv', index=False)

/var/folders/hd/l4stjqk14jn9smh667z71gsw0000gn/T/ipykernel_46267/1080102819.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat(dfs)

In [11]:
# Read back in the combined csv file with all the data
file_path = './Updated_Resources/combined.csv'
combined_df = pd.read_csv(file_path,encoding='utf-8')

# Adjust name of File Name to Ticker for ease of use
combined_df = combined_df.rename(columns={'File Name':'Ticker'})

# Display first 5 of dataframe
combined_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker
0,1993-03-12,2.291667,2.750000,2.250000,2.645833,2.357914,28573200,INTU
1,1993-03-15,2.687500,2.708333,2.583333,2.614583,2.330065,6580800,INTU
2,1993-03-16,2.583333,2.625000,2.520833,2.552083,2.274366,3928800,INTU
3,1993-03-17,2.520833,2.562500,2.416667,2.458333,2.190818,3170400,INTU
4,1993-03-18,2.520833,2.541667,2.458333,2.541667,2.265083,735600,INTU