In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import datetime as dt

In [7]:
# Set the directory where your CSV files are located
directory = "./Resources"

# List of CSV files in the directory
csv_files = [file for file in os.listdir(directory) if file.endswith('.csv')]

# Iterate over each CSV file
for file in csv_files:
    # Read the CSV file into a DataFrame
    df = pd.read_csv(f'./Resources/{file}')
    
    # Extract the name of the file without the extension
    file_name = os.path.splitext(file)[0]
    
    # Create a new column with the name of the file
    df['File Name'] = file_name
    
    # Write the DataFrame back to a new CSV file with the updated column
    df.to_csv(f'./Updated_Resources/{file_name}_with_name_column.csv', index=False)

In [8]:
# Set the directory where your CSV files are located
directory = "./Updated_Resources"

# Get a list of all CSV files in the directory
files = [file for file in os.listdir(directory) if file.endswith('.csv')]

# Read each CSV file into a DataFrame and concatenate them into one DataFrame
dfs = [pd.read_csv(os.path.join(directory, file)) for file in files]
combined_df = pd.concat(dfs)

# Write the combined DataFrame to a new CSV file
combined_df.to_csv('./Updated_Resources/combined.csv', index=False)

/var/folders/hd/l4stjqk14jn9smh667z71gsw0000gn/T/ipykernel_46267/1080102819.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat(dfs)

In [3]:
# Read back in the combined csv file with all the data
file_path = './Updated_Resources/combined.csv'
combined_df = pd.read_csv(file_path,encoding='utf-8')

# Adjust name of File Name to Ticker for ease of use
combined_df = combined_df.rename(columns={'File Name':'Ticker'})

# Display first 5 of dataframe
combined_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker
0,1993-03-12,2.291667,2.750000,2.250000,2.645833,2.357914,28573200,INTU
1,1993-03-15,2.687500,2.708333,2.583333,2.614583,2.330065,6580800,INTU
2,1993-03-16,2.583333,2.625000,2.520833,2.552083,2.274366,3928800,INTU
3,1993-03-17,2.520833,2.562500,2.416667,2.458333,2.190818,3170400,INTU
4,1993-03-18,2.520833,2.541667,2.458333,2.541667,2.265083,735600,INTU

In [4]:
# Examine data type of each column
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 524382 entries, 0 to 524381
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       524382 non-null  object
 1   Open       524382 non-null  float64
 2   High       524382 non-null  float64
 3   Low        524382 non-null  float64
 4   Close      524382 non-null  float64
 5   Adj Close  524382 non-null  float64
 6   Volume     524382 non-null  int64
 7   Ticker     524382 non-null  object
dtypes: float64(5), int64(1), object(2)
memory usage: 32.0+ MB

In [5]:
# Change data types for data analysis
combined_df['Date'] = combined_df['Date'].astype('datetime64[ns]')

In [6]:
# Confirm type changes were successful by examining data types again
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 524382 entries, 0 to 524381
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       524382 non-null  datetime64[ns]
 1   Open       524382 non-null  float64
 2   High       524382 non-null  float64
 3   Low        524382 non-null  float64
 4   Close      524382 non-null  float64
 5   Adj Close  524382 non-null  float64
 6   Volume     524382 non-null  int64
 7   Ticker     524382 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(1), object(1)
memory usage: 32.0+ MB

In [7]:
# Created a column for the year to use in future analysis
combined_df['Year'] = combined_df['Date'].dt.year
combined_df

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker,Year
0,1993-03-12,2.291667,2.750000,2.250000,2.645833,2.357914,28573200,INTU,1993
1,1993-03-15,2.687500,2.708333,2.583333,2.614583,2.330065,6580800,INTU,1993
2,1993-03-16,2.583333,2.625000,2.520833,2.552083,2.274366,3928800,INTU,1993
3,1993-03-17,2.520833,2.562500,2.416667,2.458333,2.190818,3170400,INTU,1993
4,1993-03-18,2.520833,2.541667,2.458333,2.541667,2.265083,735600,INTU,1993
...,...,...,...,...,...,...,...,...,...
524377,2024-04-17,342.000000,346.450012,341.239990,344.859985,344.859985,2147800,LULU,2024
524378,2024-04-18,346.500000,352.100006,344.309998,347.510010,347.510010,2180200,LULU,2024
524379,2024-04-19,346.959991,353.100006,346.390015,352.470001,352.470001,2464600,LULU,2024
524380,2024-04-22,354.679993,364.630005,354.679993,361.790009,361.790009,2537800,LULU,2024
524381,2024-04-23,362.170013,366.190002,359.329987,364.679993,364.679993,1549700,LULU,2024

In [8]:
# Creata a groupby the the total of each ticker by year
total_volume_per_year = combined_df.groupby(['Ticker', 'Year'])['Volume'].sum()
total_volume_per_year

Ticker  Year
AAPL    1980     1344851200
        1981     8196944000
        1982    21365008000
        1983    44513011200
        1984    41979033600
                   ...
WDC     2020     1477520400
        2021     1062526500
        2022     1063795700
        2023     1074478200
        2024      543843800
Name: Volume, Length: 2166, dtype: int64

In [23]:
# Create a dataframe of year and ticker for total volume
year_ticker = combined_df.groupby(['Year', 'Ticker'])['Volume'].sum()
year_ticker_df = year_ticker.reset_index()

# Create an empty list for max total volume each year
list_max_volume = []

# Loop through each year to find the ticker with the greatest total volume
for year in range(1973, 2025, 1):
    max_volume = year_ticker_df[year_ticker_df['Year']==year].max()
    list_max_volume.append(max_volume)

# Create a dataframe of the tickers with the greatest total volume per year
greatest_total_volume_per_year_df = pd.DataFrame(list_max_volume)

# Display dataframe
greatest_total_volume_per_year_df

    Year Ticker        Volume
0   1973    TXN     449121600
1   1974    TXN     450259200
2   1975    TXN     467635200
3   1976    TXN     421531200
4   1977    TXN     458094600
5   1978    WDC     571951800
6   1979    WDC     480684600
7   1980    WDC    2281603200
8   1981    WDC    8196944000
9   1982    WDC   21365008000
10  1983    WDC   44513011200
11  1984    WDC   41979033600
12  1985    WDC   45492272000
13  1986    WDC   53323222400
14  1987    WDC   59771308800
15  1988    WDC   41292977600
16  1989    WDC   50905825600
17  1990    WDC   44401940800
18  1991    WDC   57347651200
19  1992    WDC   41137913600
20  1993    WDC   56452928000
21  1994    WDC   57155896000
22  1995    WDC   74266539200
23  1996    WDC   53194220800
24  1997    WDC   71963360000
25  1998    WDC  115194195200
26  1999    WDC  137102705600
27  2000    WDC  120301596800
28  2001    WDC   94657796800
29  2002    WDC   77013927200
30  2003    WDC   71230252800
31  2004    WDC  121801668800
32  2005    WDC  182400982400
33  2006    WDC  215698966000
34  2007    WDC  246995985600
35  2008    WDC  285981206000
36  2009    WDC  143253686800
37  2010    WDC  151024927200
38  2011    WDC  124059339600
39  2012    WDC  131964204400
40  2013    WDC  102421569600
41  2014    WDC   63657952400
42  2015    WDC   52264199600
43  2016    WDC   38729911200
44  2017    WDC   27243106000
45  2018    WDC   34156144800
46  2019    WDC   34620726000
47  2020    WDC   57158737200
48  2021    WDC   22812206100
49  2022    WDC   22945447900
50  2023    WDC   34330556300
51  2024    WDC    7935077600